<div class="eo-pagination">
	<ul ng-if="pageCount>1 || showIfOnePage">
		<li ng-click="pageChange(1)" ng-if="showFirstLastText">{{firstText}}</li>
		<li ng-class="currentPage-1>0?'pre':'disable'" ng-click="pageChange(currentPage-1>0?currentPage-1:1)"><i class="iconfont icon-back"></i></li>
		<li ng-repeat="pagenum in pagenums track by pagenum" ng-click="pageChange(pagenum)" ng-class="{active:currentPage===pagenum}">{{pagenum}}</li>
		<li ng-class="currentPage+1<=pageCount?'next':'disable'" ng-click="pageChange(currentPage+1<=pageCount?currentPage+1:pageCount)"><i class="iconfont icon-right"></i></li>
		<li ng-click="pageChange(pageCount)" ng-if="showFirstLastText">{{lastText}}</li>
	</ul>
	<lable ng-if="showGoto">
		{{gotoText}}
		<input type="text" ng-keyup="keyupHanlder($event)">
	</label>
</div>